*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --primary:rgb(202, 202, 12);
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;

}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: #e4048b;
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
width: 100%;
}  

.bg-pink{
 background-color:#e4046b;
 color: white;
 border-radius: 30px;
 border: transparent;
 padding: 5px 25px ;
 transform: transition;
 }
 .bg-pink:hover{
    background-color: rgb(8, 8, 78);
    transition: .2s;
 }

 .font.bg-alt{
    color:#e4048b;
}

.but input{
    border: none;
    background-color: #e4046b;
    border-radius: 6px;
    color: white;
    padding: 15px 45px;
    transform:transition ;
    
    }

    .but input:hover{
        background-color: rgb(32, 32, 32);
        transition: ease 0.3s;
    }

body{
    background-image: url(./images/image4.jpg);
    background-position:top;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 5px;
    background-color: rgb(228, 226, 226);
}

.center{
    text-align: center;
}
 
.radio{
    border-radius: 20px;
}

.radius{
    border-radius: 120px;
}

.margin1{
    margin-left: 28px;
    line-height: 30px;
}

.bg{
    background-image:url(./images/image4.jpg); 
    width: 100%;
    height: 100%;
    line-height: 35px;
    font-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.9;
}

.size{
    font-size: 30px;
}

.testimonial{
    margin: 50px auto;
    padding: 10px;
}


.testimonial h1{
    text-align: center;
    font-weight: bold;
    color:#000;
    padding-bottom: 10px;
    text-transform: uppercase;
}


.testimonial h1::after{
    content: "";
    background: #e4046b;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px; 
}

.testimonial .row{
    margin-top: 30px;
}

.col-md-4{
    margin: 40px auto;
}

.profile{
    padding: 10px 5px 5px;
    background-color: #efefef;
}

.profile img{
    top: -40px; 
    position: relative;
    left: calc(50% -50%);
    border: 10px solid white;
}

.user{
    width: 80px;
    height: 80px;
    border-radius: 70%;

}

.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #2c16bb;

}

.size{
    font-size: 14px;
    color: #000;
}

.colour{
    color: #000;
}


.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}

.pagination {
    display: inline-block;
    }
    
    .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgb(10, 10, 10);
    margin: 0 4px;
    }
    
    .pagination a.active {
    background-color: #e4046b;
    color: white;
    border: 1px solid #0a0a0a;
    }

    footer{
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./images/image1.webp);
        position: relative;
        width: 100%;
        min-height: 350px;
        color: white;
        min-width: 250px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .social a i{
        color:lightblue;
        transition: 0.3s ease;
    }

    .social a i:hover{
        transform: scale(1.5);
    }
    
    .links a{
       display: block;
       text-decoration: none;
       color: #e4046b;
       line-height: 38px;
    }
   
   
    